.cell {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	margin: 2px;
	text-align: center;
	background-color: #f1f1f1;
	box-sizing: border-box;
}

.cell:hover {
	background-color: #dedede;
	cursor: pointer;
}

.cell i {
	display: none;
	position: absolute;
	top: 11px;
	left: 0;
	right: 0;
}

.cell.cross_active i.fa-times {
	display: inline-block;
}

.cell.zero_active i.fa-circle-o {
	display: inline-block;
}

.cell.win {
	background-color: green;
}

/**
 * Modal window
 */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 10;
}

.modal .body {
	position: absolute;
	top: 200px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 400px;
	padding: 20px;
	background-color: #fff;
}